<%= form_for @comment do |f| %>
    <%= f.text_area :comment, class: "form-control" %>
    <ul class='list-inline post-actions'>
      <li><%= f.submit "Comment", class: "btn btn-primary btn-xs" %></li>
    </ul>
<% end  %>


