
<% @posts.each do |p| %>
<p><%= p.content %></p>

<div class="anchor-time">
<%= time_ago_in_words(p.created_at) %> ago
</div>
<%if current_user?(p.user)%>
<%= link_to  "Edit", edit_post_path(p) %>
<%= link_to  "Delete", p, method: :delete, data: { confirm: "You sure?" } %>
<%end%>
<%end%>

