@import "bootstrap-sprockets";
@import "bootstrap";

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
*:focus {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  background: #DDD;
  font-size: 16px;
  color: #222;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.face-link {
  color: white;
}

.face-link:hover {
  color: white;
  opacity: 0.8;
}

.margin-top {
  margin-top: 40%;
  
}
.margin-top-2 {
  margin-top: 28px;
  margin-left: 25px;
  margin-right: 15px;
  cursor: pointer;
}


#login-box {
  position: relative;
  margin: 5% auto;
  width: 800px;
  height: 100%;
  background: #FFF;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.left {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 40px;
  width: 300px;
  height: 400px;
}

h1 {
  margin: 0 0 20px 0;
  font-weight: 300;
  font-size: 28px;
}



.right {
  position: absolute;
  top: 0;
  right: 0;
  box-sizing: border-box;
  padding: 40px;
  width: 300px;
  height: 400px;
  background: url('https://goo.gl/YbktSj');
  background-size: cover;
  background-position: center;
  border-radius: 0 2px 2px 0;
}

.right .loginwith {
  display: block;
  margin-bottom: 40px;
  font-size: 28px;
  color: #000;
  text-align: center;
}

button.social-signin {
  margin-bottom: 20px;
  width: 220px;
  height: 36px;
  border: none;
  border-radius: 2px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  transition: 0.2s ease;
  cursor: pointer;
}

button.social-signin:hover,
button.social-signin:focus {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
}

button.social-signin:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
}

button.social-signin.facebook {
  background: #32508E;
}

.login-form {
    padding: 55px 0;
    text-align: center;
}

#error_explanation {
    
    color: red;
    ul {
    color: red;
    margin: 0 0 30px 0;
    }
    }

    .navigation {
      background-color: #3b5998;
      height: 82px;
    
      h2 {
        font-family: helvetica;
        color: white;
      }
    }
    
    .navigation-left {
      margin-left: 100px;
    }
    
    .navigation-right {
      margin-right: 100px;
      display: inline-flex;
      align-items: center;
    }
    
    .input {
      padding: 10px;
      margin-left: 4px;
      height: 24px;
      width: 150px;
    }
    
    .button {
      background-color: #4267b2;
      margin-left: 4px;
      margin-top: 24px;
      color: white;
      font-size: 12px;
      height: 24px;
      width: 75px;
      font-weight: bold;
      border: solid 0.5px #1c1e21;
    }


